on:
  push:
    branches:
      - main
    paths:
      - "src/pokebattle-ui/**"
      - ".github/workflows/ui-deploy.yml"

env:
  PROJECT_FOLDER: pokebattle-ui
  AZURE_WEBAPP_NAME: pokebattle-ui

jobs:
  reuse-deploy-workflow:
    uses: matteobortolazzo/its-pokebattle/.github/workflows/app-service-container-deploy.yml@main
    with:
      project_folder: ${{ env.PROJECT_FOLDER }}
      azure_webapp_name: ${{ env.AZURE_WEBAPP_NAME }}
    secrets:
      container_registry: ${{ secrets.REGISTRY_URL }}
      registry_username: ${{ secrets.REGISTRY_USERNAME }}
      registry_password: ${{ secrets.REGISTRY_PASSWORD }}
      azure_credentials: ${{ secrets.AZURE_CREDENTIALS }}
